*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
background-color:aliceblue;  
height: 80px;
width: 100%; 
padding: 20px;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
position: fixed;
display: flex;
justify-content: space-between;
}
div.logo{
height: 60px;
}
.logo{
display:flex;
padding-left: 30px;
padding-left: 80px;
height: 200%;
width: 100px;
}
.barra{
float: right;
}
.barra ul li{
padding: 1rem;
margin-top: 0%;
list-style-type: none;
display: inline-block;
justify-content:flex-start
}
.barra a{
color: rgb(15, 153, 153);
text-decoration: none;
}
.barra a:hover{
color: rgba(13, 65, 54, 0.918);

}
main{
padding-top: 80px;
width: 100%;
min-height: 100vh;
background-repeat: no-repeat;
background-image: url(/img/farmaceutico.jpg); 
background-size: cover; 
background-position: center;
}

.main2{
height: 100vh;
background-image: url(/img/mano-pildoras.jpg);
}

.main3{
padding-top: 80px;
height: 100vh;
width: 100%;
background-color: rgb(0, 47, 255);  
background-size: cover; 
}
.main4{
display: flex;
height:120vh;
width: 100%;
background-color: rgb(180, 196, 204);  
background-size: cover; 
display: flex;
flex-direction: column;
gap: 10px;
}
.main5{
  padding-top: 20px;
  height:100vh;
  width: 100%;
  background-color: rgb(133, 225, 241);  
  display: flex;
  flex-direction: column;
  gap: 10px;
  }
  
  .border{
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
  
  }
  
  .d-md-block{
    padding-top: 10px;
    padding-left: 0%;
  }
 .tabla{
  padding-top: 30px;
  display: flex;
 }
 .g-4{
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
 }


.call{
 color: rgb(0, 0, 0);
width: 50%;
background-color: rgba(231, 254, 255, 0.712);
float: left;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: 50px;
margin-left: 10px;
padding-right: 30px;
padding-left: 30px;
padding-bottom: 20px;
padding-top: 20px;
border-radius: 15px;
font-size: 20px;

}

.col-lg-6{
  border-radius: 5px;
  font-size: 15px; 
}

.iframe{
  
  margin: auto;
  margin-top: 20px ;
  width: 500px;
  display: block;

}
 .video{
  background-color: aquamarine;
 }
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  /* position: absolute; */
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.text-center1{
justify-content: center;
padding-top: 30px;
}

#sec1{
text-align: center;
size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(255, 255, 255);
padding: 10px, 10px, 10px,10px;
margin-top: 20px;
background-color: rgb(155, 224, 213);
background-size: cover;
display:flex;
flex-flow: nowrap;
justify-content: center;
}
#sec2{
  text-align: center;
  size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  padding: 10px, 10px, 10px,10px;
  margin-top: 20px;
  background-color: rgb(155, 224, 213);
  background-size: cover;
  display:flex;
  flex-flow: nowrap;
  justify-content: center;
  }
.mano-pildoras{
    width: auto;
}
.section1{
  display: flex;
justify-content: space-evenly;
}

footer{
padding: 10px;
color: rgb(56, 56, 56);
font-size: 15px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
height:10%;
width: 100%;
text-align: center;
}
footer p{
font-family:Georgia, 'Times New Roman', Times, serif
}
footer a{
text-decoration: none;
}
footer a i:hover{
color: grey;
}
footer .redes i{
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
color: rgb(0, 139, 163);
width: 30px;
height: 15px;
font-size: 30px;
}

  
  
 @media (min-width: 576px)
{
  .header{
      display:flex;
      flex-direction: row;
      min-height: fit-content;
      justify-content:right
}
  .barra ul{
      font-size: 12px;
      display:flex;
      flex-direction: row;
      min-height:min-content;
      justify-content: space-evenly;
}
  .logo{
      padding-left: 80px;
      display:flex;
      flex-direction: row;
      min-height: fit-content;
      justify-content: space-evenly;
}
  .barra{
      display:flex;
      flex-direction: row;
      min-height: fit-content;
      justify-content: space-evenly;
}
  .call h1{
      font-size: 12px;
}
  .call p{
      font-size: 12px;
}
}



@media (min-width: 768px) { 
    .barra ul{
      font-size: 15px;
      display:flex;
      flex-direction: row;
      min-height: fit-content;
      justify-content: space-evenly;
    }
.logo{
      padding-left: 80px;
      display:flex;
      flex-direction: row;
      min-height: fit-content;
      justify-content: space-evenly;
    }
#sec1{
  font-size: 20px;
}
.barra{
      display:flex;
      flex-direction: row;
      min-height: fit-content;
      justify-content: space-evenly;
    }
    .call h1{
    font-size: 13.5px;
      }
    .call p{
      font-size: 13.5px;
      }

.redes{
      display:flex;
      flex-direction: row;
      min-height: fit-content;
      justify-content: space-evenly;
 }
}
  
  
 
 @media (min-width: 992px) { 
  .barra ul{
      font-size: 20px;
      display:flex;
      flex-direction: row;
      min-height: fit-content;
      justify-content: space-evenly;
    }
  .logo{
      padding-left: 80px;
      display:flex;
      flex-direction: row;
      min-height: fit-content;
      justify-content: space-evenly;
    }
    .barra{
    display:flex;
    flex-direction: row;
    min-height: fit-content;
    justify-content: space-evenly;
    }
    #sec1{
      font-size: 25px;
    }
    .call h1{
      font-size: 15px;
      }
      .call p{
      font-size: 15px;
      }
    
    .redes{
    display:flex;
    flex-direction: row;
    min-height: fit-content;
    justify-content: space-evenly;
    }
  }
  
  @media (min-width: 1200px) { 
    .barra ul{
      display:flex;
      flex-direction: row;
      min-height: fit-content;
      justify-content: space-evenly;
      }
    .logo{
    
      padding-left: 80px;
      display:flex;
      flex-direction: row;
      min-height: fit-content;
      justify-content: space-evenly;
      }
      .barra{
    
      display:flex;
      flex-direction: row;
      min-height: fit-content;
      justify-content: space-evenly;
      }
      .redes{
      display:flex;
      flex-direction: row;
      min-height: fit-content;
      justify-content: space-evenly;
      }
    
  }